.lead {
    display: flex;
    margin: 56px auto 0;
    flex-direction: column;
    max-width: calc(100% - 296px);
}

@media (min-width: 769px) and (max-width: 1024px)
{
.lead {
    max-width: calc(100% - 96px);
    margin: 48px auto 0;
}
}

@media (max-width: 768px)
{
.lead {
    max-width: 100%;
    margin: 48px auto 0;
}
}