.lead {
    display: flex;
    margin: 56px auto 0;
    flex-direction: column;
    /*max-width: 984px;*/
    max-width: calc(100% - 296px);
    border: 1px red solid;
}

@media (min-width: 768px) and (max-width: 1200px)
{
.lead {
    max-width: calc(100% - 96px);
}
}

@media (max-width: 768px)
{
.lead {
    max-width: 100%;
    margin: 48px auto 0;
}
}