.place__link {
    font-size: 18px;
    line-height: 1.22;
    font-weight: 400;
    color: #fff;
}

.place__link:hover {
    transition: 0.5s ease-in-out;
    opacity: 0.8;
}

@media (max-width: 767px)
{
.place__link {
    width: calc(100% - 32px);
}
}

@media (max-width: 320px)
{
.place__link {
    padding-left: 16px;
}
}