.cover__background {
    max-width: 1184px;
    max-width: 100%;
    min-height: calc((740/1184) * min(1184px, 100vw));
    background-image: url(../../../images/cover-trains.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;    
    position: relative;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    opacity: 0.3;
    transition: 0.8s ease-in-out;
}
.cover__background:hover {
    opacity: 0.5;
  }